<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!--servlet>
        <servlet-name>Lab3Servlet</servlet-name>
        <servlet-class>knu.fit.ist.ta.lab2.Lab3Servlet</servlet-class>
    </servlet-->
    <servlet>
        <servlet-name>Lab3Servlet</servlet-name>
        <servlet-class>knu.fit.ist.ta.lab3.Lab3Servlet</servlet-class>
    </servlet>
    <!--servlet-mapping>
        <servlet-name>Lab3Servlet</servlet-name>
        <url-pattern>/Lab3Servlet</url-pattern>
    </servlet-mapping-->
    <servlet>
        <servlet-name>Lab4Servlet</servlet-name>
        <servlet-class>knu.fit.ist.ta.lab5.Lab5Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lab7Servlet</servlet-name>
        <servlet-class>knu.fit.ist.ta.lab7.Lab7Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lab3Servlet</servlet-name>
        <url-pattern>/lab3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lab4Servlet</servlet-name>
        <url-pattern>/Lab4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lab7Servlet</servlet-name>
        <url-pattern>/Lab7Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
